#title_l {
	text-align: center;
	font-family: arial;
}

#employee_form_login {
	background: grey;
	width: 200px;
	padding: 10px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -50px;
}

#announcementbox {
    box-sizing: content-box;    
    width: 300px;
    height: 400px;
    padding: 15px;    
    border: 2px solid black;
	text-align: center;
	overflow: auto;
	float: left;
}
#functionbox {
    box-sizing: content-box;    
    width: 400px;
    height: 400px; 
	float: left;
	margin-left: 3.5cm;
}