#title_l {
	text-align: center;
	font-family: arial;
}

#employee_form_login {
	background: grey;
	width: 200px;
	padding: 10px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -50px;
}

#functionbox {
    box-sizing: content-box;    
    width: 400px;
    height: 400px; 
	float: left;
	margin-left: 3.5cm;
}

#label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}

#input{

}

#fieldset{
border:none;
width:500px;
margin:0px auto;
}