#title_l {
	text-align: center;
	font-family: arial;
}
#functionbox {
    box-sizing: content-box;    
    width: 400px;
    height: 400px; 
	float: left;
	margin-left: 3.5cm;
}

#label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}

#input{

}

#fieldset{
border:none;
width:500px;
margin:0px auto;
}