
.card{
  
  height: 300px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 1s ease;
  border-radius: 10px;
}
.card:hover{
  transition: all 1s ease;
}
.card-1{
  background-image: url(logos/logo6.jpg); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card-2{
  background-image: url(logos/logo7.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card-3{
  background-image:  url(logos/logo8.jpg); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card-4{
  background-image:  url(logos/logo5.jpg); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.card-body{
  position: absolute;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 80px;
  background-color: white;
  color: black;

}

img{
  width: 100%;
  height: 100%;
  z-index: 1;
}
#layer{
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  transition: all 1s ease;
  text-align: center;
}
#layer:hover{
  transition: all 1s ease;
  opacity: 0.75;
  background: #000000;
}
/* Les boutons */

