@import url(https://fonts.googleapis.com/css?family=Damion);
@import url(https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield);

/* pattern from subtlepatterns.com */
/* https://subtlepatterns.com/patterns/sneaker_mesh_fabric.png */

/* font-family: 'Damion', cursive; */

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  color: #555;
}

.check {
  background-image: linear-gradient(to right, rgba(125,185,232,0.15) 0%,rgba(125,185,232,0.15) 100%), url(https://subtlepatterns.com/patterns/connect.png);
  width: 40em;
  height: 14em;
  position: relative;
  box-shadow: 0 0 10px 0px black;
  margin: 1em;
  padding: 1em;
}

.check:before {
  position: absolute;
  content: '';
  width: 39em;
  height: 13em;
  margin: 0.5em 0 0 0.43em;
  top: 0;
  left: 0;
  border: 1px dotted #666;
}

.number {
  font-family: "Courier New";
  font-weight: bold;
  text-align: right;
}

.date {
  font-family: 'Damion', cursive;
  font-size: 1.5em;
  float: right;
  border-bottom: 1px solid #666;
  width: 6em;
  margin: 0.2em 2em 0.5em;
  padding-left: 0.5em;
  position: relative;
}

.date:before {
  font-family: Helvetica;
  font-size: 0.5em;
  content: 'Date';
  position: absolute;
  left: -3em;
  top: 1.8em;
}

.orderof {
  font-family: 'Damion', cursive;
  font-size: 1.5em;
  border-bottom: 1px solid #666;
  float: left;
  width: 65%;
  margin: 0 0 0 3em;
  position: relative;
  line-height: 1;
  padding-top: 0;
  padding: 0 0 0 1em;
}

.orderof:before {
  font-family: Helvetica;
  font-size: 0.5em;
  content: "PAYER A L'ORDRE DE : ";
  position: absolute;
  left: -6em;
  top: 0.3em;
  width: 6em;
}

.num {
  font-family: 'Damion', cursive;
  font-size: 1.5em;
  float: left;
  border: 2px solid #aaa;
  position: relative;
  margin: 0 0 0 2em;
  padding: 0 0.5em;
  line-height: 0.9em;
}

.num:before {
  font-family: Helvetica;
  content: '€';
  font-weight: bold;
  position: absolute;
  left: -0.8em;
}

.dollars {
  font-family: 'Damion', cursive;
  font-size: 1.5em;
  border-bottom: 1px solid #666;
  width: 84%;
  float: left;
  padding: 0 0 0 4em;
  position: relative;
}

.dollars:after {
  font-family: Helvetica;
  font-size: 0.5em;
  content: 'EUROS';
  position: absolute;
  right: -5em;
  top: 1.7em;
}

.memo {
  font-family: 'Damion', cursive;
  font-size: 1.5em;
  border-bottom: 1px solid #666;
  clear: left;
  float: left;
  width: 40%;
  position: relative;
  padding: 0 0 0 1em;
  margin: 0.6em 0 0 1.5em;
}

.memo:before {
  font-family: Helvetica;
  font-size: 0.5em;
  content: 'Moi :';
  position: absolute;
  left: -3em;
  top: 1.7em;
}

.sig {
  font-family: 'Mrs Saint Delafield', cursive;
  font-size: 2em;
  float: right;
  border-bottom: 1px solid #666;
  line-height: 0.9em;
  margin: 0.58em;
  width: 40%;
  padding: 0 0 0 0.7em
}