html, body {
  background: #212121;
}

#google_translate_element {
  position: absolute;
  top: 17px;
  z-index: 99999;
  right: 23px;
}

/*.goog-te-gadget {
  font-family: 'Open Sans', sans-serif;
}
.goog-te-gadget-simple  {
  background-color: #;
  border-left: 1px solid #d5d5d5;
  border-top: 1px solid #9b9b9b;
  border-bottom: 1px solid #e8e8e8;
  border-right: 1px solid #d5d5d5;
  font-size: 10pt;
  display: inline-block;
  padding-top: 1px;
  padding-bottom: 2px;
  cursor: pointer;
  zoom: 1;
}
.goog-te-menu2 {
  max-width: 100%;
}*/
/*Can't do much apparently - damn iframe*/
/* ================================== *\
    Mediaqueries
\* ================================== */
@media (max-width: 667px) {
  #google_translate_element {
    top: 33px;
    right: 60px;
  }
}
